html { 
    background: url(./img/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    padding: 2rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    }

* {
        font-weight: 800;
}

#clicker-container {
    margin-top: 50px;
    position: relative;
}

#enemy {
    font-size: 132%;
    margin-top: 20px;
    color: red;
}

#result {
    font-size: 132%;
    margin-top: 20px;
}

#kills {
    font-size: 125%;
    margin-top: 20px;
}

#restart-btn {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: transparent;
    border-color: transparent;
}

#restart-btn img {
    width: auto;
    height: 100%;
}

#enemy-image {
    width: auto;
    height: 100%;
    cursor: pointer;
}
